body{
	margin: 0;	
	font-family: Arial;
	overflow-y: scroll;
}
/*HEADER*/
header{
	position: fixed;
	height: 80px;
	width: 100%;
	background: gray;
}
header h4{
	float: left;
	margin: 0 100px;
	width: 30%;
	font-weight: normal;
	line-height: 80px;
}
header button{
	float: right;
	margin: 30px 50px;
	color: #c00;
	border: none;
	background: none;
	font-size: 20px;
	outline: none;
	cursor: pointer;
}
/*form*/
form{
	margin: 0 auto 100px;
	padding: 100px 0 0;
	width: 60%;
}
input[type="text"]{
	margin: 20px 0;
	padding: 20px 10px;
	width: calc(100% - 20px);
	border: none;
	border-bottom: 1px solid silver;
}
textarea{
	margin: 20px 0;
	height: 300px;
	width: 99%;
}
input[type="submit"]{
	float: right;
	padding: 10px;
	color: white;
	background: steelblue;
	border: none;
}
/*FOOTER*/
footer{
	position: fixed;
	top: calc(100% - 50px);
	height: 50px;
	width: 100%;
	background: gray;
}
footer h4{
	float: left;
	margin: 0 100px;
	width: 30%;
	font-weight: normal;
	line-height: 50px;
}
