.clock{
	margin: 50px;
	height: 400px;
	width: 400px;
	border: 15px solid #8B4513;
	border-radius: 50%;
	background: #CD853F;
}
.clock .second-arrow{
	margin: 0 calc(50% - 3px);
	height: 200px;width: 3px;
	background: #191970;
	transform-origin: center bottom;
	animation: watch 60s steps(60) infinite;
}

@keyframes watch{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}