body{
	margin: 0;
	font-family: Gabriela;
	font-size: 15px;
}

/*HEADER*/
header{
	padding: 0 15%;
	height: 65px;
	background: #ff5c33;
} 
/*logo*/
header #logo{
	float: left;
	color: black;
}
header #logo .image{
	float: left;
	margin: 2.5px 10px 0 0;
	height: 60px;
	width: 70px;
	background: url("images/logo.png");
	background-size: 100% 100%;
}
header #logo span{
	font-weight: bold;
	line-height: 65px;
}
/*nav*/
header #nav{
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
}
header #nav > li{
	float: left;
	display: inline-block;	
	line-height: 65px;
	height: 65px;
	padding: 0 20px;
	font-size: 1.5em;
	color: white;	
}
header #nav li:first-child{
	width: 70px;
}
header #nav li #dropdown{
	display: none;
	position: relative;
	left: -20px;
	padding: 10px 15px;
	width: 180px;
	background: #333333;
	box-shadow: 0px 15px 50px gray;	
}
header #nav li #dropdown li{
	line-height: 30px;
	list-style: decimal inside;
	padding: 0px 0px;
	font-size: 0.9em;
	background: #333333;
}
header #nav li:hover{
	background: #333333;
}
header #nav li:hover #dropdown{
	display: block;	
}
/*MAIN*/
main{
	padding: 0 15%;
}
main h1{	
	text-align: center;
	padding: 75px 0 50px;
	color: #fe470f;
	font-size: 2.4em;
	font-weight: normal;
}
/*ul*/
main ul{
	width: 77%;
	margin: 0 auto 60px;
}
main ul li{
	display: inline-block;
	margin: 0 30px;
	width: 176px;
	text-align: center;
}
main ul li h3{
	font-size: 1.4em;
}
main ul li .icon{
	display: inline-block;
	height: 86px;
	width: 75px;
}
main ul li:nth-child(1) .icon{
	width: 84px;
	background: url("images/icons.png");
	background-size: 293% 100%;
}
main ul li:nth-child(2) .icon{
	background: url("images/icons.png") 52%;
	background-size: 300% 100%;
}
main ul li:nth-child(3) .icon{
	background: url("images/icons.png") right no-repeat;
	background-size: 307% 100%;
}
main ul li button{
	height: 50px;
	width: 100%;
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	font-family: Gabriela;
	background: #ff5c33;
	border: none;
}
/*articles*/
main .text{
	display: inline-block;
	margin: 0 auto 80px;
	padding: 0;
	width: 40%;
}
main .text:first-child{
	float: left;
}
main .text:last-child{
	float: right;
}
#anchor-top{
	display: block;
	margin: 0 20px;	
}
#anchor-top a{
	display: block;
	float: right;
	height: 40px;
	width: 40px;
	background: url("images/arrow.png") center no-repeat;
}
/*FOOTER*/
footer{
	margin: 60px 0 0;
	padding: 0 15%;
	color: white;
	background: #ff5c33;
}
footer span{
	line-height: 45px;
}
footer span:last-child{
	float: right;
	font-style: italic;
}

@media all and (max-width: 600px){
	header, main, footer{
		padding: 0;
	}
	/*HEADER*/
	/*logo*/
	header #logo{
		margin: 0 0 0 15px;
	}
	header #logo span{
		display: none;
	}
	/*nav*/
	header #nav li #dropdown{
		position: absolute;
		left: 0px;
		width: 94.8%;
		box-shadow: 0 5px 10px silver;
	}
	/*MAIN*/
	main h1{
		padding: 50px 0 30px;
	}
	/*ul*/
	main ul{
		width: 50%;
		margin: 0 auto 60px;
		padding: 0;
		text-align: center;
	}
	main ul li{
		margin: 0 0 27px;
	}
	/*articles*/
	main .text{
		display: block;
		margin: auto;
		width: 70%;
	}
	main .text:last-child{
		display: none;
	}
	/*anchor*/
	#anchor-top{
		display: none;
	}
	/*FOOTER*/
	footer{
		height: 1%;
		overflow: auto;
		padding: 0 3%;
		background: #ff5c33;
	}
	footer span{
		line-height: 30px;
	}
	
}