
//    Font Family

$primary-font	: 'Poppins', sans-serif;


@font-face{
	font-family: Poppins;
    src: url("saas/fonts/Poppins-Regular.otf");
}


/*--------------------------- Color variations ----------------------*/

$primary-color	:   #88d200;
$serondary-color	: #3bacf0;
$title-color	: #222222;
$text-color		: #338833;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;






