body{
	margin: 0;
}
.wrapper{
	height: 110vh;
	overflow: auto;
	width: 100%;
	background: DarkRed;
}
.wrapper div{
	position: absolute;
	width: 18%;
}
.gold{
	background: gold;
}
.orange{
	background: orange;
}
.orange-red{
	background: orangered;
}
.coral{
	background: coral;
}
.forest-green{
	background: forestgreen;
}

.wrapper div:nth-child(1){
	height: 60%;
	top: 1%; left: 1%;
}
.wrapper div:nth-child(2){
	height: 70%;
	top: 1%; left: calc(18% + 2%);
}
.wrapper div:nth-child(3){
	height: 20%;
	top: 1%; left: calc(2 * 18% + 3%);
}
.wrapper div:nth-child(4){
	height: 40%;
	top: 1%; left: calc(3 * 18% + 4%);
}
.wrapper div:nth-child(5){
	height: 10%;
	top: 1%; left: calc(4 * 18% + 5%);
}

.wrapper div:nth-child(6){
	height: 10%;
	top: calc(60% + 2%); left: 1%;
}
.wrapper div:nth-child(7){
	height: 10%;
	top: calc(70% + 2%); left: calc(18% + 2%);
}
.wrapper div:nth-child(8){
	height: 40%;
	top: calc(20% + 2%); left: calc(2 * 18% + 3%);
}
.wrapper div:nth-child(9){
	height: 40%;
	top: calc(40% + 2%); left: calc(3 * 18% + 4%);
}
.wrapper div:nth-child(10){
	height: 80%;
	top: calc(10% + 2%); left: calc(4 * 18% + 5%);
}

.wrapper div:nth-child(11){
	height: 30%;
	top: calc(70% + 3%); left: 1%;
}
.wrapper div:nth-child(12){
	height: 20%;
	top: calc(80% + 3%); left: calc(18% + 2%);
}
.wrapper div:nth-child(13){
	height: 40%;
	top: calc(60% + 3%); left: calc(2 * 18% + 3%);
}
.wrapper div:nth-child(14){
	height: 20%;
	top: calc(80% + 3%); left: calc(3 * 18% + 4%);
}
.wrapper div:nth-child(15){
	height: 10%;
	top: calc(90% + 3%); left: calc(4 * 18% + 5%);
}
