body{
	margin: 0;
}
.wrapper{
	height: 130vh;
	overflow: auto;
	width: 100%;
	background: DarkRed;
}
.wrapper div{
	position: absolute;
	height: 250px;
	width: 250px;
}
.gold{
	background: gold;
}
.orange{
	background: orange;
}
.orange-red{
	background: orangered;
}
.coral{
	background: coral;
}
.forest-green{
	background: forestgreen;
}

.wrapper div:nth-child(1){
	height: 300px;
	top: 1%; left: 1%;
}
.wrapper div:nth-child(2){
	height: 500px;
	top: 1%; left: calc(250px + 2%);
}
.wrapper div:nth-child(3){
	height: 200px;
	top: 1%; left: calc(2 * 250px + 3%);
}
.wrapper div:nth-child(4){
	height: 300px;
	top: 1%; left: calc(3 * 250px + 4%);
}
.wrapper div:nth-child(5){
	height: 100px;
	top: 1%; left: calc(4 * 250px + 5%);
}

.wrapper div:nth-child(6){
	height: 100px;
	top: calc(300px + 2%); left: 1%;
}
.wrapper div:nth-child(7){
	height: 100px;
	top: calc(500px + 2%); left: calc(250px + 2%);
}
.wrapper div:nth-child(8){
	height: 300px;
	top: calc(200px + 2%); left: calc(2 * 250px + 3%);
}
.wrapper div:nth-child(9){
	height: 300px;
	top: calc(300px + 2%); left: calc(3 * 250px + 4%);
}
.wrapper div:nth-child(10){
	height: 550px;
	top: calc(100px + 2%); left: calc(4 * 250px + 5%);
}

.wrapper div:nth-child(11){
	height: 350px;
	top: calc(400px + 3%); left: 1%;
}
.wrapper div:nth-child(12){
	height: 150px;
	top: calc(600px + 3%); left: calc(250px + 2%);
}
.wrapper div:nth-child(13){
	height: 250px;
	top: calc(500px + 3%); left: calc(2 * 250px + 3%);
}
.wrapper div:nth-child(14){
	height: 150px;
	top: calc(600px + 3%); left: calc(3 * 250px + 4%);
}
.wrapper div:nth-child(15){
	height: 100px;
	top: calc(650px + 3%); left: calc(4 * 250px + 5%);
}