body{
  font-family: $fontFamily;
}

.taskList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  padding: 0;
  color: $textColor;
  &-line{
    position: absolute;
    left: calc(41% + 31px);
    top: 50%;
    height: 241px;
    width: 2px;
    border-right: 1px solid $verticalLinesColor;
    border-left: 1px solid $verticalLinesColor;
    transform: translate(-50% ,-50%);
    z-index: 5;
  }
  &-wrapper {
    width: 251px;
    height: 241px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    border: 1px solid $mainBorderColor;
    box-shadow: 0 5px 5px -5px gray;
    background: #fff;
    z-index: 4;
    &__previous:enabled,
    &__next:enabled{
      position: relative;
      top: 205px;
      padding: 3px 5px;
      outline: 0;
      cursor: pointer;
      border: none;
      border-radius: 8px;
      color: $textColor;      
      line-height: 20px;
    }
    &__previous:disabled,
    &__next:disabled{
      color: #d7d8da;
      background: none;
    }
    &__previous{
      color: #d7d8da;
      background: none;
      left: 50px;
      cursor: not-allowed;
    }
    &__next{
      left: 100px;
    }
    &__next:active{      
      background: $verticalLinesColor;
    }   
    &__next:hover{
      cursor: pointer;
    }
    &-clone1{
      width: 248px;
      height: 40px;
      position: absolute;   
      left: 50%;
      top: 68%;
      transform: translate(-50% ,-68%);      
      z-index: 3;
      background: #fff;
      box-shadow: 0 5px 5px -5px gray;
    }
    &-clone2{
      width: 239px;
      height: 40px;
      position: absolute;   
      left: 50%;
      top: calc(68% + 3px);
      transform: translate(-50% ,-68%);      
      z-index: 2;
      background: white;
      box-shadow: 0 5px 5px -5px gray;
    }
    &-clone3{
      width: 230px;
      height: 40px;
      position: absolute;    
      left: 50%;
      top: calc(68% + 6px);
      transform: translate(-50% ,-68%);      
      z-index: 1;
      background: white;
      box-shadow: 0 5px 5px -5px gray;
    }
  }

  &-item,&-itemInterface {
    padding: 4px 10px;
    list-style: none;
    width: calc(100% - 20px);
    border-bottom: 1px solid $mainBorderColor;
    input[type=checkbox]{
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked + .taskList-item__checkbox {
        position: relative;
        cursor: pointer;
        padding: 0;
        background: #fff;
        border: none;
        border: 1px solid $textColor; 
      }
      & + .taskList-item__checkbox:before {
        content: '';
        margin-right: 6px;
        display: inline-block;
        vertical-align: text-top;
        width: 10px;
        height: 10px;
        background: white;
      }
      &:checked + .taskList-item__checkbox:after {
        content:  '\2713 ';
        position: absolute;
        left: 3px;
        top: -3px;
        background: white;
        width: 0px;
        height: 0px;
        transform: rotate(360deg);
      }
    }

    &__checkbox {
      float: left;
      top: -2px;
      width: 17px;
      height: 17px;
      display: inline-block;
      border: 1px solid $borderColor;
    }

    &__text {
      @include fontSize(12);
    }
  }
  &-itemInterface{
    margin-top: -10px;
    &__button{
      margin-left: 10px;
      color: $textColor;
      border: none;
      background: none;
      outline: 0;
    }
    &__button:hover{
      cursor: pointer;
    }
    &__button:hover::after { 
      content: attr(data-title); 
      position: absolute;
      top: -18%;
      z-index: 6;
      padding: 5px;
      color: #fff;
      font-weight: bold;
      background: #333;
      border-radius: 3px;
    }
    #addTask:hover::after{
      left: 15%; 
    }
    #deleteTask:hover::after{
      left: 22%; 
    }
    #settings:hover::after{
      left: 72%; 
    }

    #addTask{
      font-weight: bold;
    }
    #settings{
      float: right;
      margin-right: 15px;
    }
  }
}