/*fonts*/
@font-face {
  font-family: Belinda;
  src: url("fonts/belinda_script/Belinda Script.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: OpenSans;
  src: url("fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: OpenSans;
  src: url("fonts/Open_Sans/OpenSans-Light.ttf");
  font-weight: light;
}
@font-face {
  font-family: Nexa;
  src: url("fonts/Nexa/Nexa Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: Nexa;
  src: url("fonts/Nexa/Nexa Light.otf");
  font-weight: light;
}
@font-face {
  font-family: Cabin;
  src: url("fonts/Cabin/Cabin-Regular.ttf");
}
/**/
body {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
  font-size: 20px;
}

h2, h3 {
  color: #40474e;
}

p {
  color: #787b80;
}

button {
  color: white;
  border: none;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #50c3af;
}

a#anchor {
  position: fixed;
  top: 50px;
  left: 90%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  color: #38af9a;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.7);
  transition: 1s;
}

/*header*/
header {
  padding: 66px 0 20px;
  min-height: 590px;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("images/header-bg.png");
  background-size: 100% 100%;
  color: white;
  text-align: center;
}
header #logo {
  margin: 45%;
  font-size: 5rem;
  color: white;
  text-decoration: none;
  font-family: Belinda;
  outline: none;
}
header #header-nav {
  display: inline-block;
  padding: 0;
}
header #header-nav li {
  display: inline-block;
  margin: 0 18px;
}
header #header-nav li a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
header h1 {
  margin: 0 auto 43px;
  width: 60%;
  font-size: 5.1rem;
  text-align: center;
}
header .container {
  margin: 0 auto 84px;
  min-height: 25px;
  overflow: auto;
  width: 60%;
}
header .container hr:first-child {
  float: left;
  color: rgba(255, 255, 255, 0.2);
}
header .container h3 {
  margin: 0 10%;
  float: left;
  line-height: 15px;
  color: #fff;
  font-size: 1rem;
}
header .container hr:last-child {
  float: right;
  color: rgba(255, 255, 255, 0.2);
}
header #get-copy {
  display: block;
  text-align: center;
  margin: 0 auto;
  height: 48px;
  width: 235px;
  background: #50c3af;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 30px;
}

main #features {
  min-height: 100px;
  overflow: auto;
  padding: 60px 13%;
  background: #eeeeef;
}
main #features ul {
  margin: auto;
  padding: 0;
  min-width: 74%;
  text-align: center;
}
main #features ul li {
  display: inline-block;
  margin: 0 30px;
  list-style: none;
}
main #features ul li .icon {
  margin: auto;
  height: 42px;
  width: 43px;
}
main #features ul li h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #40474e;
}
main #features ul li p {
  font-weight: light;
  font-size: 1.3rem;
  color: #787b80;
}
main #features ul li:nth-child(1) .icon {
  background: url("images/icons.png") -1% center no-repeat;
}
main #features ul li:nth-child(2) .icon {
  background: url("images/icons.png") 50% center no-repeat;
  background-size: 300% 100%;
}
main #features ul li:nth-child(3) .icon {
  background: url("images/icons.png") 101% center no-repeat;
  background-size: 300% 100%;
}
main #section-2 {
  min-height: 100px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  padding: 65px 77px;
  background: #f5f5f5;
}
main #section-2 .container {
  min-height: 100px;
  width: 33%;
}
main #section-2 .container .foto {
  height: 267px;
  width: 100%;
}
main #section-2 .container h2 {
  font-size: 1.5rem;
  color: #40474e;
}
main #section-2 .container p {
  font-weight: normal;
  font-size: 1.2rem;
  color: #787b80;
}
main #section-2 .container button {
  height: 40px;
  width: 100px;
  color: #fff;
  border: none;
  border-radius: 25px;
  background: #50c3af;
}
main #section-2 .container:nth-child(1) .foto {
  background: url("images/car.png");
  background-size: 100% 100%;
}
main #section-2 .container:nth-child(2) .foto {
  background: url("images/couple.png");
  background-size: 100% 100%;
}
main #section-3 {
  min-height: 100px;
  overflow: auto;
  padding: 65px 0;
  background: #eeeeef;
}
main #section-3 .container {
  margin: auto;
  width: 60%;
}
main #section-3 .container .icon {
  float: left;
  height: 23px;
  width: 23px;
  background: url("images/lifebuoy.png") center no-repeat;
}
main #section-3 .container h3 {
  margin: 0 12px 24px;
  float: left;
}
main #section-3 .container p {
  margin: 25px 0 40px;
  color: #787b80;
  font-size: 1.3rem;
  line-height: 30px;
}
main #section-3 .container button {
  height: 35px;
  width: 100px;
  color: #fff;
  background: #d2d5da;
  border: none;
  border-radius: 25px;
}
main #section-4 {
  min-height: 200px;
  overflow: auto;
  padding: 60px 0;
  background: #f5f5f5;
}
main #section-4 ul {
  margin: 0 auto;
  padding: 0;
  height: 300px;
}
main #section-4 ul li {
  display: inline-block;
  float: left;
  width: 180px;
  margin: 0 0 0 25px;
}
main #section-4 ul li .foto {
  margin: auto;
  height: 140px;
  width: 100%;
  background: pink;
}
main #section-4 ul li h3 {
  color: #40474e;
  font-size: 1rem;
}
main #section-4 ul li p {
  color: #787b80;
}
main #section-4 ul li a {
  color: #50c3af;
  text-decoration: none;
}
main #section-4 ul li:first-child .foto {
  background: url("images/lights.png") no-repeat;
  background-size: 100% 100%;
}
main #section-4 ul li:nth-child(2) .foto {
  background: url("images/girl-umberella.png") no-repeat;
  background-size: 100% 100%;
}
main #section-4 ul li:last-child .foto {
  background: url("images/keds.png") no-repeat;
  background-size: 100% 100%;
}
main #section-5 {
  min-height: 200px;
  overflow: auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-around;
  background: #eeeeef;
}
main #section-5 .container {
  float: left;
  width: 30%;
}
main #section-5 .container .icon {
  height: 20px;
  float: left;
}
main #section-5 .container h3 {
  float: left;
  margin: 0 20px 20px;
}
main #section-5 .container button {
  height: 35px;
  width: 98px;
  background: #50c3af;
}
main #section-5 .container:first-child .icon {
  width: 24px;
  background: url("images/chancery.png") no-repeat;
}
main #section-5 .container:last-child .icon {
  width: 20px;
  background: url("images/chancery.png") right no-repeat;
}
main #section-6 {
  height: 332px;
  overflow: auto;
  background: #f5f5f5;
  padding: 60px 0;
}
main #section-6 .container {
  margin: auto;
  width: 70%;
}
main #section-6 .container .foto {
  float: left;
  height: 208px;
  width: 264px;
  background: url("images/sky.png");
}
main #section-6 .container .text {
  float: right;
  width: 45%;
}
main #section-6 .container .text button {
  height: 35px;
  width: 98px;
}
main #featured {
  padding: 54px 0;
  background: #50c3af;
  text-align: center;
}
main #featured h3 {
  display: inline-block;
  margin: 0;
  color: #fff;
}
main #featured h3 .star {
  font-size: 1.5rem;
  color: #a9ded5;
}
main #featured .logotypes {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  padding: 0;
  height: 100px;
  width: 70%;
}
main #featured .logotypes a {
  text-decoration: none;
  color: white;
}
main #featured .logotypes a li {
  display: inline-block;
  font-size: 2.4rem;
}
main #featured .logotypes a #teck {
  font-family: Belinda;
}
main #featured .logotypes a #prom {
  font-family: Nexa;
  font-weight: light;
}
main #featured .logotypes a #mash {
  font-family: Cabin;
}
main #featured .logotypes a #atla {
  font-family: Nexa;
  font-weight: bold;
}

footer {
  padding: 0 13%;
  background: #f5f5f5;
}
footer span {
  line-height: 58px;
  color: #787b80;
}
footer span .color-silver {
  color: #aaacaf;
}
footer span .color-silver a {
  text-decoration: none;
  color: #aaacaf;
}
footer .soc {
  margin: 25px 0 0;
  float: right;
  padding: 0;
}
footer .soc a li {
  margin: 0 10px;
  display: inline-block;
  height: 18px;
  width: 20px;
}
footer .soc a #goog {
  display: inline-block;
  height: 18px;
  width: 20px;
  background: url("images/soc-icons.png") no-repeat;
  background-size: 300% 100%;
}
footer .soc a #face {
  display: inline-block;
  height: 18px;
  width: 20px;
  background: url("images/soc-icons.png") 52% no-repeat;
  background-size: 300% 100%;
}
footer .soc a #twit {
  display: inline-block;
  height: 18px;
  width: 20px;
  background: url("images/soc-icons.png") 100% no-repeat;
  background-size: 300% 100%;
}

/*mobile*/
@media all and (max-device-width: 800px) {
  main #features ul {
    margin: auto;
    padding: 0;
    min-width: 84%;
    text-align: center;
  }
  main #features ul li {
    display: inline-block;
    margin: 0 30px;
    width: 70%;
  }
  main #section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 65px 77px;
  }
  main #section-2 .container {
    min-height: 100px;
    width: 43%;
  }
  main #section-2 .container h2 {
    font-size: 2.5rem;
  }
  main #section-2 .container p {
    font-size: 1.2rem;
  }
  main #section-2 .container button {
    height: 60px;
    width: 200px;
    font-size: 1.6rem;
  }
  main #section-3 .container {
    margin: auto;
    width: 70%;
  }
  main #section-3 .container p {
    font-size: 1.4rem;
  }
  main #section-3 .container button {
    height: 60px;
    width: 250px;
    font-size: 1.5rem;
  }
  main #section-4 {
    text-align: center;
    min-height: 1000px;
  }
  main #section-4 ul {
    display: inline-block;
    width: 60%;
  }
  main #section-4 ul li {
    margin: 0 0 50px 0;
    float: left;
    width: 100%;
  }
  main #section-4 ul li .foto {
    width: 400px;
  }
  main #section-4 ul li h3 {
    font-size: 1.3rem;
  }
  main #section-4 ul li p {
    font-size: 1.3rem;
  }
  main #section-4 ul li a {
    font-size: 1.5rem;
  }
  main #section-5 {
    height: 500px;
    display: block;
  }
  main #section-5 .container {
    display: inline-block;
    margin: 20px 20%;
    width: 60%;
  }
  main #section-5 .container h3 {
    font-size: 1.4rem;
  }
  main #section-5 .container p {
    font-size: 1.3rem;
  }
  main #section-5 .container button {
    height: 80px;
    width: 198px;
    font-size: 1.5rem;
    border-radius: 35px;
  }
  main #section-6 {
    height: 450px;
  }
  main #section-6 .container {
    margin: auto;
    width: 70%;
  }
  main #section-6 .container .foto {
    clear: all;
    height: 208px;
    width: 264px;
  }
  main #section-6 .container .text {
    width: 100%;
  }
  main #section-6 .container .text button {
    height: 60px;
    width: 200px;
    font-size: 1.5rem;
  }
  main #featured {
    padding: 54px 0;
    background: #50c3af;
    text-align: center;
  }
  main #featured h3 {
    font-size: 1.6rem;
  }
  main #featured h3 .star {
    font-size: 1.7rem;
  }
  main #featured .logotypes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
  }
  main #featured .logotypes a li {
    font-size: 3.2rem;
  }

  footer {
    height: 250px;
    text-align: center;
  }
  footer span {
    font-size: 2rem;
  }
  footer span .color-silver {
    color: #aaacaf;
  }
  footer span .color-silver a {
    text-decoration: none;
    color: dimgray;
    font-weight: bold;
  }
  footer .soc {
    margin: 50px 0 0;
    float: right;
    padding: 0;
    width: 100%;
  }
  footer .soc a li {
    margin: 0 30px;
    display: inline-block;
    height: 64px;
    width: 70px;
  }
  footer .soc a #goog {
    height: 64px;
    width: 70px;
    background: url("images/soc-icons.png") no-repeat;
    background-size: 300% 100%;
  }
  footer .soc a #face {
    height: 64px;
    width: 70px;
    background: url("images/soc-icons.png") 52% no-repeat;
    background-size: 300% 100%;
  }
  footer .soc a #twit {
    height: 64px;
    width: 70px;
    background: url("images/soc-icons.png") 100% no-repeat;
    background-size: 300% 100%;
  }
}

/*# sourceMappingURL=style.css.map */
